* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}

.header {
    height: 100vh;
    background-image: url(../img/header.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
}

.header::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #1f1f1fd9;
    z-index: -1;
}

.banner {
    padding: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner_nav ul {
    list-style: none;
    display: flex;
}

.banner_text {
    padding: 50px;
    position: relative;
    border-collapse: collapse;
}

.banner_nav ul a {
    font-size: 13px;
    color: #ffffff;
    font-weight: 400;
    text-decoration: none;
    margin: 5px;
    border-right: 1px solid #f7ac53;
    padding: 0 30px;
}

.banner_nav ul a:hover {
    color: #feb960;
}

.banner_text h2 {
    font-size: 55px;
    color: #ffffff;
    font-family: "Merriweather";
    text-align: center;
}

.fusion {
    color: #f7ac53;
}

.banner_nav {
    padding: 30px;
}

.fa-chevron-down {
    color: #f7ac53;
    position: absolute;
    top: 75%;
    left: 49.6%;
}

.banner_text:before {
    transition: all 0.4s;
    position: absolute;
    content: "";
    width: 100%;
    height: 0%;
    left: 50%;
    margin-left: -50%;
    top: 0;
    border-color: #5a5a5a;
    border-style: solid;
    border-width: 0 1px;
    animation: animatBorderBefore 1s ease-in-out;
    animation-fill-mode: forwards;
}

.banner_text:after {
    /* transition: all 0.4s; */
    position: absolute;
    content: "";
    width: 0%;
    height: 100%;
    left: 25%;
    margin-left: -25%;
    top: 0;
    border-color: #5a5a5a;
    border-style: solid;
    border-width: 1px 0;
    animation: animatBorderAfter 1s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes animatBorderBefore {
    0% {
        height: 0%;
    }
    100% {
        height: 100%;
    }
}

@keyframes animatBorderAfter {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

.header_links {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 100px;
}

.header_links_a {
    color: #feb960;
    border: 1px solid #feb960;
    border-radius: 50%;
    text-decoration: none;
    padding: 2px 7px;
    transition: 1s all;
}

.get_arrow a {
    text-decoration: none;
    font-size: 14px;
    color: #ffffff;
    font-weight: 500;
    font-family: "Roboto";
}

.fa-long-arrow-alt-right {
    color: #feb960;
    margin-left: 5px;
    transition: 1s all;
}

.get_arrow a:hover {
    color: #feb960;
}

.header_links_a:hover {
    transform: rotate(360deg);
}

.line_div {
    height: 124px;
    width: 50%;
    position: relative;
}

.line_div2 {
    height: 124px;
    width: 50%;
}

.container_row {
    display: flex;
}

.line_div::after {
    content: "";
    border-left: 1px solid #feb960;
    position: absolute;
    height: 124px;
}

.services {
    background-color: #202020;
}

.services_text p {
    font-size: 14px;
    color: #feb960;
    font-weight: 600;
    text-align: center;
    margin-top: 5px;
}

.services_text h2 {
    font-size: 40px;
    line-height: 65px;
    color: #ffffff;
    font-family: "Merriweather";
    text-align: center;
    margin-top: 25px;
}

.services_box {
    width: calc(100%/3);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 60px;
}

.services_box_container {
    display: flex;
    margin-top: 80px;
}

.services_box h2 {
    font-size: 30px;
    color: #ffffff;
    font-family: "Merriweather";
    padding: 10px;
}

.services_box p {
    font-size: 14px;
    color: #bbbbbb;
    font-weight: 400;
    padding: 10px;
}

.fa-book, .fa-edit, .fa-pencil-ruler {
    font-size: 20px;
    color: #feb960;
    padding: 10px;
}

.services_box a {
    padding: 10px;
    text-decoration: none;
    color: #ffffff;
}

.services_box a:hover {
    padding: 10px;
    text-decoration: none;
    color: #feb960;
}

.line_box {
    width: 25%;
    height: 124px;
    border-left: 1px solid #feb960;
}

.project {
    background-color: #181818;
    padding: 150px;
}

.project_p {
    font-size: 14px;
    color: #feb960;
    font-weight: 600;
    margin-top: 10px;
}

.div_project h2 {
    font-size: 55px;
    line-height: 65px;
    color: #ffffff;
    font-family: "Merriweather";
    filter: drop-shadow(0 0 5px rgba(24, 24, 24, 0.5));
}

.photo img {
    width: 100%;
    height: 100%;
}

.photo {
    width: 940px;
    height: 600px;
    position: relative;
    z-index: 1;
    margin-left: 130px;
    overflow: hidden;
}

.div_project {
    position: absolute;
    z-index: 99;
}

.divbig {
    width: 140px;
    height: 200px;
    position: absolute;
    z-index: 2;
    bottom: 45px;
    right: 30px;
}

.divone {
    width: 100%;
    height: 45%;
    display: flex;
    flex-direction: column;
}

.divone a {
    font-size: 14px;
    color: #ffffff;
    font-weight: 600;
    text-decoration: none;
    margin: 10px;
}

.divone a:hover {
    color: #feb960;
}

.divtwo {
    border-left: 2px solid #feb960;
    height: 55%;
}

.row {
    position: relative;
}

.slider {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.slider_a a {
    display: flex;
    flex-direction: row;
}

.slider_a a {
    font-size: 14px;
    color: #ffffff;
    font-weight: 600;
    text-decoration: none;
}

.fa-long-arrow-alt-left {
    color: #feb960;
    align-self: center;
}

.slider_a a:hover {
    color: #feb960;
}

.slider_a a p {
    margin-left: 5px;
}

.slider_div {
    width: 340px;
    display: flex;
}

.slider_div1 {
    width: 30px;
    height: 4px;
    border: 1px solid #4a4a4a;
    margin: 10px;
    background-color: #4a4a4a;
}

.slider_div1:hover {
    background-color: #feb960;
    cursor: pointer;
}

.slider_div2 {
    width: 184px;
    display: flex;
}

.testimonials {
    background-color: #202020;
}

.brands {
    width: 100%;
    display: flex;
    margin-top: 100px;
}

.brands_div {
    width: calc(100%/7);
}

.card {
    display: flex;
    flex-direction: column;
    background-color: #181818;
    margin-top: 100px;
    padding: 50px;
    align-items: center;
}

.card_text {
    padding: 50px;
}

.card_text p {
    font-size: 17px;
    line-height: 35px;
    color: #bbbbbb;
    font-family: "Merriweather";
    text-align: center;
}

.card_name p {
    font-size: 13px;
    line-height: 35px;
    color: #ffffff;
    font-weight: 400;
    text-align: center;
}

.card_name h2 {
    font-size: 14px;
    line-height: 35px;
    color: #feb960;
    font-weight: 600;
    text-align: center;
    position: relative;
}

.card_name h2::after {
    content: "";
    position: absolute;
    border: 1px solid #474747;
    width: 200px;
}

.card_name h2::before {
    content: "";
    top: 0;
    right: 133px;
    position: absolute;
    border: 1px solid #474747;
    width: 200px;
}

.slider_card {
    width: 340px;
    display: flex;
    margin-left: 440px;
    margin-top: 25px;
}

.slider_card1 {
    width: 30px;
    height: 4px;
    border: 1px solid #4a4a4a;
    margin: 10px;
    background-color: #4a4a4a;
}

.slider_card1:hover {
    background-color: #feb960;
    cursor: pointer;
}

.team {
    background-color: #181818;
}

.team_box_cell {
    width: calc(100%/4);
    height: 300px;
    text-align: center;
    border-right: 1px solid #202020;
    border-top: 1px solid #202020;
    position: relative;
    overflow: hidden;
    transition: 1s all;
}

.team_box {
    display: flex;
    flex-wrap: wrap;
    padding: 100px;
}

.team_box_cell h2 {
    font-size: 14px;
    color: #feb960;
    font-weight: 600;
    text-align: center;
    padding: 5px;
}

.team_box_cell p {
    font-size: 13px;
    color: #ffffff;
    font-weight: 400;
    text-align: center;
}

.description {
    padding: 25px;
    position: absolute;
    left: 0;
    top: 400px;
    transition: 1.5s all;
}

.description p {
    text-align: left;
    font-size: 12px;
}

.name_more {
    transition: 1s all;
}

.team_box_cell_name {
    transition: 1s all;
    width: 100%;
}

.team_box_cell:hover .team_box_cell_name {
    width: 25%;
    border-top: 1px solid #feb960;
    height: 100%;
}

.team_box_cell:hover .team_box_cell_name img {
    width: 100%;
}

.team_box_cell:hover .team_box_cell_name .name_more {
    transform: rotate(90deg);
    margin: 40px 0px;
    white-space: nowrap;
}

.team_box_cell:hover .description {
    top: 25px;
    left: 50px;
}

.contact {
    background-color: #353535;
}

.contact_form {
    text-align: center;
    padding: 50px;
    background-color: #181818;
    margin-top: 50px;
}

.input_class {
    padding: 15px 80px;
    margin: 40px;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid #5c5c5c;
    color: white;
}

.form_textarea {
    padding: 10px 100px;
    width: 80%;
    margin: 100px;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid #5c5c5c;
    color: white;
    resize: none;
}

.btn {
    border: none;
    outline: none;
    color: #232323;
    font-weight: 600;
    text-align: center;
    padding: 20px 40px;
    background-color: #feb960;
    transition: 0.8s all;
}

.fa-arrow-right {
    color: black;
}

.btn:hover {
    opacity: 0.5;
    cursor: pointer;
}

.footer {
    padding: 100px;
}

.footer_row {
    display: flex;
    justify-content: space-between;
}

.footer_div {
    width: calc(100%/4);
    padding: 20px;
}

.footer_div h2 {
    font-size: 14px;
    line-height: 40px;
    color: #ffffff;
    font-weight: 600;
}

.footer_div p {
    font-size: 12px;
    line-height: 40px;
    color: #8e8e8e;
    font-weight: 600;
    font-family: "Open Sans";
}

.maila {
    text-decoration: none;
    color: #8e8e8e;
}

.icons {
    display: flex;
}

.fab.fa-twitter-square {
    color: #bababa;
    font-size: 25px;
    margin-top: 10px;
    padding: 10px;
    transition: 1s all;
}

.fab.fa-facebook {
    color: #bababa;
    font-size: 25px;
    margin-top: 10px;
    padding: 10px;
    transition: 1s all;
}

.fab.fa-pinterest {
    color: #bababa;
    font-size: 25px;
    margin-top: 10px;
    padding: 10px;
    transition: 1s all;
}

.fa-instagram-square {
    color: #bababa;
    font-size: 25px;
    margin-top: 10px;
    padding: 10px;
    transition: 1s all;
}

.logo_animation {
    transition: 1s all;
}

.logo_animation:hover {
    transform: rotate(360deg);
}